.app {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-primary);
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
