* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #212529;
  --bg-color-2: #343a40;
  --text-home: #fff;
  --text-primary: #fff;
  --text-secondary: #423F3E;
  --scroll-bg: #495057;
  --scroll-bar: #6c757d;
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
}

.light {
  --bg-color: #F4F7FE;
  --bg-color-2: #FFFFFF;
  --box-shadow: rgba(112,144,176,0.2);
  --sidebar-selected: #4318FF;
  --text-primary: #2B3674;
  --text-secondary: #A3AED0;
  --text-3: #8F9BBA;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  transition: 0.5s;
  background-color: #000;
  overflow-x: hidden;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


